.userListUser {
    display: flex;
    align-items: center;
}

.userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.useCardUser{
    display: inline-block;
    & > a{
        list-style: none;
        text-decoration: none;
    }
}

.useListDelete{
    color: red;
    cursor: pointer;
}